* {
    font-family: Arial, Helvetica, sans-serif;
    /* background-color:yellowgreen ; */
}

:root {
    --diamondcolor: rgba(255, 204, 93, 1);
    --my-text-transform: capitalize;
    --myblue: black;
}

/* bakground image */
/* body { */
/* background-image: url(./images/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed; */
/* background: linear-gradient(to bottom, rgba(255, 255, 255, 0.81), rgba(255, 204, 93, 1));
    background-size: 100%;
    animation: bakground 2s infinite alternate;
}

@keyframes backgroundMove {
    0% {
       background-position: bottom;
    }

    100% {
        background-position: top;
    }
}  */
body {
    margin: 0;
    height: 100vh;

    background: linear-gradient(to bottom,
            rgba(255, 255, 255, 0.81),
            rgba(255, 204, 93, 1),
            rgba(255, 255, 255, 0.81));

    background-size: 100% 300%;
    animation: moveBg 4s ease-in-out infinite alternate;
}

@keyframes moveBg {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 0% 100%;
    }
}

/* nav bar */
.navbar {
    display: flex;
    margin: 35px;
    justify-content: space-around;
}

.anchor {
    gap: 20px;
    background-color: var(--myblue);
    text-decoration: none;
    border-radius: 5px;
    color: var(--diamondcolor);
    text-transform: var(--my-text-transform);
    padding: 6px;
    transition: 0.5s;
}

a:hover {
    background-color: var(--diamondcolor);
    color: var(--myblue);
}

.name {
    color: var(--myblue);
    text-transform: var(--my-text-transform);
    font-size: xx-large;
    font-weight: bolder;
}

/* .search input{
    width: 100px ;
    height: 15px;
    border: #fad3ad;
} */

/* landing page */
.landingpage {
    margin-left: 30px;
}

.landingpage>p {
    border: 2px solid black;
}

h2 {
    color: var(--myblue);
    text-transform: var(--my-text-transform);
}

.lp-p {
    margin-right: 60%;
}

img {
    width: 90vw;
    align-items: center;
}

/* varieties */
.varieties {
    margin-left: 10px;
    margin-right: 10px;
}

.o-img {
    display: flex;
    gap: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.card a {
    text-transform: var(--my-text-transform);
    border: black 1px solid;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: var(--myblue);
    margin-top: 20px;
}

.collections {
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
    margin: 15px 350px 15px 350px;
    cursor: pointer;
    display: flex;
    gap: 5px;
}

.collections:hover {
    background-color: var(--diamondcolor);
}

.collections a {
    text-align: center;
    text-decoration: none;
    color: var(--myblue);
    text-transform: var(--my-text-transform);
}

.collections i {
    padding-top: 2px;
}

/* buy section */

.buy{
    display:grid;
    grid-template-columns: repeat(5,1fr);
    gap: 30px;
    margin-left: 5%;
    margin-right: 5%;

}
.buyH2{
    margin-left: 5%;
}

.buy img {
    width: 200px;
    height: 300px;
    border-radius: 5px;
    object-fit:contain;

}

.buyCard {
    width: 200px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: capitalize;
}

.buyCard h3 {
    margin: 0px 5px;
    text-align: center;
}

.buyCard p {
    padding: 0px 5px;
    margin: 0px 5px;
    text-align: inherit;
}

.buyCard button {
    cursor: pointer;
    background-color: var(--myblue);
    color: var(--diamondcolor);
    border-radius: 5px;
    padding: 5px 20px;
    margin-top: 20px;
}