* {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --diamondcolor: rgba(255, 204, 93, 1);
    --my-text-transform: capitalize;
    --myblue: black;
}

body {
    margin: 0;
    height: 100vh;

    background: linear-gradient(to bottom,
            rgba(255, 255, 255, 0.81),
            rgba(255, 204, 93, 0.440),
            rgba(255, 255, 255, 0.81));

    background-size: 100% 300%;
    animation: moveBg 4s ease-in-out infinite alternate;
}

@keyframes moveBg {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 0% 100%;
    }
}

/* nav bar */
.navbar {
    display: flex;
    margin: 35px;
    justify-content: space-around;
}

.anchor {
    gap: 20px;
    background-color: var(--myblue);
    text-decoration: none;
    border-radius: 5px;
    color: var(--diamondcolor);
    text-transform: var(--my-text-transform);
    padding: 6px;
    transition: 0.5s;
}

a:hover {
    background-color: var(--diamondcolor);
    color: var(--myblue);
}

.name {
    color: var(--myblue);
    text-transform: var(--my-text-transform);
    font-size: xx-large;
    font-weight: bolder;
}

.menu-btn {
    display: none;
    cursor: pointer;
}

@media (max-width:576px) {
    .name {
        font-size: 35px;
    }

    .menu {
        display: none;
    }

    .menu-btn {
        display: block;
        font-size: x-large;
        padding: 8px 30% 0px 0px;
        margin-right: 0;
    }
}


/* landing page */
.landingpage {
    margin-left: 30px;
}

.landingpage>p {
    border: 2px solid black;
}

h2 {
    color: var(--myblue);
    text-transform: var(--my-text-transform);
}

.lp-p {
    margin-right: 60%;
}

img {
    width: 90vw;
    align-items: center;
}

@media (max-width:576px) {
    .landingpage h2 {
        font-size: x-large;
    }

    .lp-p {
        margin-right: 5%;
        font-size: larger;
        margin-right: 35%;
    }
}

/* varieties */
.varieties {
    margin-left: 10px;
    margin-right: 10px;
}

.o-img {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width:576px) {
    .o-head h2 {
        font-size: x-large;
        margin-left: 3%;
    }
}

/* Desktop image size */
.card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.card a {
    text-transform: var(--my-text-transform);
    border: black 1px solid;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: var(--myblue);
    margin-top: 20px;
}

.collections {
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
    margin: 15px 350px 15px 350px;
    cursor: pointer;
    display: flex;
    gap: 5px;
}

.collections:hover {
    background-color: var(--diamondcolor);
}

.collections a {
    text-align: center;
    text-decoration: none;
    color: var(--myblue);
    text-transform: var(--my-text-transform);
}

.collections i {
    padding-top: 2px;
}

@media (max-width: 576px) {

    .o-img {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 100%;
        padding-bottom: 20px;
    }

    .card img {
        width: 60%;
        height: auto;
        margin-right: 30%;
    }

    .card a {
        font-size: larger;
        margin-right: 30%;
        font-weight: 500;
        padding: 5px 10px;
        border-radius: 12px;
    }

    .collections {
        margin: 0;
        margin-right: 35%;
        margin-left: 7%;
    }

    .collections a {
        font-size: larger;
        font-weight: 500;
        padding: 5px;
    }

    .collections i {
        font-size: larger;
        padding-top: 10px;
    }
}

/* footer */
footer {
    background: linear-gradient(to bottom,
            rgba(255, 255, 255, 0.81),
            rgba(255, 204, 93, 0.440));
    color: var(--myblue);
    padding: 10px;
}

.footer-container {
    display: flex;
    justify-content: space-between;

}

.footer-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-box a {
    color: var(--myblue);
    text-decoration: none;
}

.footer-box a:hover {
    color: var(--myblue);
    background: none;
}

@media(max-width:576px) {
    .footer-container {
        flex-direction: column;
        gap: 5px;
    }

    .footer-box {
        margin-bottom: 30px;
    }

    .footer-box h3,
    h4 {
        font-size: x-large;
        margin: 0;
    }

    .footer-box p {
        font-size: larger;
        margin: 10px 10px 0px 12%;
    }

    .footer-box a {
        font-size: larger;
        margin: 5px 10px 5px 12%;
    }

    .copyright {
        margin: 10% 20% 5% 1%;
        font-size: large;
    }
    #eMail{
        margin-right: 25%;
    }
}

/* buy section */
.buyNav {
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: center;
    margin-left: 5%;
}

.backHome {
    text-transform: capitalize;
    padding: 5px 10p 5px 10px;
    background-color: var(--myblue);
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    margin-left: 5%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: 0.5s;
    gap: 5px;
}

.buyNav a {
    color: var(--diamondcolor);
    text-decoration: none;
}

.buyNav i {
    color: var(--diamondcolor);
}

.buyNav i:hover {
    background-color: var(--myblue);
}

.buy {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    margin-left: 5%;
    margin-right: 5%;
    overflow: hidden;
}

.buyNav h2 {
    font-size: xx-large;
    font-weight: bolder;
}

.buyCard {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: capitalize;
    transition: 0.5s ease;
}

.buyCard:hover {
    transform: scale(1.1);
}

.buy img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
}

.buyCard h3 {
    margin: 0px 5px;
    text-align: center;
}

.buyCard p {
    padding: 0px 5px;
    margin: 0px 5px;
    text-align: inherit;
    display: -webkit-box;

    overflow: hidden;
}

.buyCard button {
    cursor: pointer;
    background-color: var(--myblue);
    color: var(--diamondcolor);
    border-radius: 5px;
    padding: 5px 20px;
    margin-top: 20px;
    transition: 0.5s ease;
}

.buyCard button:hover {
    background-color: var(--diamondcolor);
    color: var(--myblue);
}

/* Contact Section */

.home-btn {
    position: absolute;
    top: 20px;
    left: 20px;

    padding: 10px 20px;
    background-color: var(--myblue);
    color: var(--diamondcolor);
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.5s ease;
}

.home-btn:hover {
    background: var(--diamondcolor);
    color: var(--myblue);
    transform: scale(1.1);
}

.con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    width: 30%;
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 30%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    border: 2px solid black;
    border-radius: 8px;
}

.con h1 {
    text-align: center;
    text-transform: capitalize;
    font-weight: bolder;
}

.con input,
textarea,
button {
    background-color: var(--myblue);
    color: var(--diamondcolor);
    padding: 5px;
    border-radius: 5px;
    text-transform: capitalize;

}

.con input::placeholder {
    color: var(--diamondcolor);
}

.con textarea::placeholder {
    color: var(--diamondcolor);
}

.con button {
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
    transition: 0.5s ease;
    cursor: pointer;
}

.con button:hover {
    transform: scale(1.2);
}

/* cart */
.cart {
    display: flex;
    flex-direction: row;
    margin: 100px 10% 50px 10%;
    gap: 30px;
    background-color: #FFFAF0;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.150);
}

.pic {
    margin: 20px;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.150);
}

.pic img {
    width: 350px;
    height: 400px;
}

/* description section */

.discript-sec {
    background-color: #F5F5DC;
    box-shadow: -5px 8px 20px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    padding-left: 30px;
}

.discript-sec h2 {
    font-weight: bolder;
    font-size: xx-large;
}

.info {
    font-size: larger;
    font-weight: bold;
}

.colors {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 15px 70px;
}

.color {
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.color-silver {
    background-color: #C0C0C0;
}

.color-gold1 {
    background-color: #D4AF37;
}

.color-gold2 {
    background-color: #E6C200;
}

.quant {

    background-color: #F5F5DC;
    margin: 15px 70px;
    border: none;
}

.btn {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin: 20px 20px;
}

.btn button {
    padding: 8px 40px;

}

#btn-buy {
    animation: shake 1s ease infinite;
}

#btn-buy:hover {
    transform: scale(1.1);

}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(1deg);
    }

    20% {
        transform: rotate(2deg);
    }

    30% {
        transform: rotate(3deg);
    }

    40% {
        transform: rotate(2deg);
    }

    50% {
        transform: rotate(1deg);
    }

    60% {
        transform: rotate(-2deg);
    }

    70% {
        transform: rotate(-3deg);
    }

    80% {
        transform: rotate(-2deg);
    }

    100% {
        transform: rotate(1deg);
    }
}

#add-to-cart {
    color: black;
    background-color: #FFFAF0;
}

#add-to-cart:hover {
    transform: scale(1.1);
}

.btn p {
    font-size: larger;
    font-weight: 600;
    margin-left: 20px;
}