* {
    font-family: Arial, Helvetica, sans-serif;
    /* background-color:yellowgreen ; */
}

:root {
    --diamondcolor: rgba(255, 204, 93, 1);
    --my-text-transform: capitalize;
    --myblue: black;
}

/* bakground image */
/* body { */
/* background-image: url(./images/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed; */
/* background: linear-gradient(to bottom, rgba(255, 255, 255, 0.81), rgba(255, 204, 93, 1));
    background-size: 100%;
    animation: bakground 2s infinite alternate;
}

@keyframes backgroundMove {
    0% {
       background-position: bottom;
    }

    100% {
        background-position: top;
    }
}  */
body {
    margin: 0;
    height: 100vh;

    background: linear-gradient(to bottom,
            rgba(255, 255, 255, 0.81),
            rgba(255, 204, 93, 1),
            rgba(255, 255, 255, 0.81));

    background-size: 100% 300%;
    animation: moveBg 4s ease-in-out infinite alternate;
}

@keyframes moveBg {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 0% 100%;
    }
}

/* nav bar */
.navbar {
    display: flex;
    margin: 35px;
    justify-content: space-around;
}

.anchor {
    gap: 20px;
    background-color: var(--myblue);
    text-decoration: none;
    border-radius: 5px;
    color: var(--diamondcolor);
    text-transform: var(--my-text-transform);
    padding: 6px;
    transition: 0.5s;
}

a:hover {
    background-color: var(--diamondcolor);
    color: var(--myblue);
}

.name {
    color: var(--myblue);
    text-transform: var(--my-text-transform);
    font-size: xx-large;
    font-weight: bolder;
}

/* .search input{
    width: 100px ;
    height: 15px;
    border: #fad3ad;
} */

/* landing page */
.landingpage {
    margin-left: 30px;
}

.landingpage>p {
    border: 2px solid black;
}

h2 {
    color: var(--myblue);
    text-transform: var(--my-text-transform);
}

.lp-p {
    margin-right: 60%;
}

img {
    width: 90vw;
    align-items: center;
}

/* varieties */
.varieties {
    margin-left: 10px;
    margin-right: 10px;
}

.o-img {
    display: flex;
    gap: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.card a {
    text-transform: var(--my-text-transform);
    border: black 1px solid;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: var(--myblue);
    margin-top: 20px;
}

.collections {
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
    margin: 15px 350px 15px 350px;
    cursor: pointer;
    display: flex;
    gap: 5px;
}

.collections:hover {
    background-color: var(--diamondcolor);
}

.collections a {
    text-align: center;
    text-decoration: none;
    color: var(--myblue);
    text-transform: var(--my-text-transform);
}

.collections i {
    padding-top: 2px;
}

/* footer */
footer {
    background: linear-gradient(to bottom,
            rgba(255, 255, 255, 0.81),
            rgba(255, 204, 93, 1)),
        color: var(--myblue);
    padding: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-box a {
    color: var(--myblue);
    text-decoration: none;
}

.footer-box a:hover {
    color: var(--myblue);
    background: none;
}

/* buy section */
.buyNav {
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: center;
    margin-left: 5%;

}

.backHome {
    text-transform: capitalize;
    padding: 5px 10p 5px 10px;
    background-color: var(--myblue);
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    margin-left: 5%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: 0.5s;
    gap: 5px;
}

.buyNav a {
    color: var(--diamondcolor);
    text-decoration: none;
}

.buyNav i {
    color: var(--diamondcolor);
}

.buyNav i:hover {
    background-color: var(--myblue);
}

.buy {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-left: 5%;
    margin-right: 5%;
    overflow: hidden;

}

.buyNav h2 {
    font-size: xx-large;
    font-weight: bolder;
}

.buyCard {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: capitalize;
    transition: 0.5s ease;
}

.buyCard:hover {
    transform: scale(1.1);
}

.buy img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
}

/* .buy img:hover{
    
} */

.buyCard h3 {
    margin: 0px 5px;
    text-align: center;
}

.buyCard p {
    padding: 0px 5px;
    margin: 0px 5px;
    text-align: inherit;
    display: -webkit-box;

    overflow: hidden;
}

.buyCard button {
    cursor: pointer;
    background-color: var(--myblue);
    color: var(--diamondcolor);
    border-radius: 5px;
    padding: 5px 20px;
    margin-top: 20px;
    transition: 0.5s ease;
}

.buyCard button:hover {
    background-color: var(--diamondcolor);
    color: var(--myblue);
}

/* Contact Section */

.home-btn {
    position: absolute;
    top: 20px;
    left: 20px;

    padding: 10px 20px;
    background-color: var(--myblue);
    color: var(--diamondcolor);
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.5s ease;
}

.home-btn:hover {
    background: var(--diamondcolor);
    color: var(--myblue);
    transform: scale(1.1);
}

.con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    width: 30%;
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 30%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    border: 2px solid black;
    border-radius: 8px;
}

.con h1 {
    text-align: center;
    text-transform: capitalize;
    font-weight: bolder;
}

.con input,
textarea,
button {
    background-color: var(--myblue);
    color: var(--diamondcolor);
    padding: 5px;
    border-radius: 5px;
    text-transform: capitalize;

}

.con input::placeholder {
    color: var(--diamondcolor);
}

.con textarea::placeholder {
    color: var(--diamondcolor);
}

.con button {
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
    transition: 0.5s ease;
}

.con button:hover {
    transform: scale(1.2);
}