* {
    font-family: Arial, Helvetica, sans-serif;
    /* background-color:yellowgreen ; */
}

:root {
    --diamondcolor: #fad3ad;
    --my-text-transform: capitalize;
    --myblue: black;
}

/* bakground image */
body {
    /* background-image: url(./images/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed; */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.81), rgba(255, 204, 93, 1));
}

/* nav bar */
.navbar {
    display: flex;
    margin: 35px;
    justify-content: space-around;
}

.anchor {
    gap: 20px;
    background-color: var(--myblue);
    text-decoration: none;
    border-radius: 5px;
    color: var(--diamondcolor);
    text-transform: var(--my-text-transform);
    padding: 6px;
}

.name {
    color: var(--myblue);
    text-transform: var(--my-text-transform);
    font-size: xx-large;
    font-weight: bolder;
}
/* .search input{
    width: 100px ;
    height: 15px;
    border: #fad3ad;
} */

/* landing page */
.landingpage {
    margin-left: 30px;
}

.landingpage>p {
    border: 2px solid black;
}

h2 {
    color: var(--myblue);
    text-transform: var(--my-text-transform);
}

.lp-p {
    margin-right: 60%;
}

img {
    width: 90vw;
    align-items: center;
}

/* options */
.o-img {
    display: flex;
    gap: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.card a {
    text-transform: var(--my-text-transform);
    border: black 1px solid;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: var(--myblue);
    margin-top: 20px;
}
.seemore{
    justify-content: center;
    margin-top: 30px;
    display: flex;
}
.seemore a{
    text-align: center;
    text-decoration: none;
    color: var(--myblue);
    text-transform: var(--my-text-transform);
    border: 1px solid black;
    border-radius: 5px;
}